button {
	font-size: 200%;
	width: 40px;
	background-color: black;
	color: white;
}

input {
	font-size: 14px;
	height: 40px;
	text-align: right;
	background-color: black;
	color: white;
}

table {
	margin: auto;
}

h1 {
	font-size: 250%;
	text-align: center;
}

h5 {
	text-align: right;
}

.container {
	height: 400px;
	width: 400px;
	margin: auto;
}